<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Domains</h1>
</div>
<div class="wrapper-md">
  <!--<h4>Projects</h4>-->
  <table class="table table-bordered table-hover table-condensed bg-white-only">
    <tr style="font-weight: bold">
      <td style="width:20%">Id</td>
      <td style="width:15%">Name</td>
      <td style="width:20%">Description</td>
    </tr>
    <tr ng-repeat="domain in domains" ng-click="setDomain(domain)">
      <td class="v-middle">
        <!-- editable username (text with validation) -->
        <span editable-text="domain.Id" e-name="id" e-form="rowform" >
          {{ domain.Id  }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable username (text with validation) -->
        <span editable-text="domain.Name" e-name="name" e-form="rowform" >
          {{ project.Name  }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable status (select-local) -->
        <span editable-text="domain.Description" e-name="description" e-form="rowform">
           {{ project.Domain  }}
        </span>
      </td>
    </tr>
  </table>
</div>

<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Projects</h1>
</div>
<div class="wrapper-md">
  <h4>Projects</h4>
  <table class="table table-bordered table-hover table-condensed bg-white-only">
    <tr style="font-weight: bold">
      <td style="width:20%">Name</td>
      <td style="width:15%">Type</td>
      <td style="width:20%">Domain</td>
      <td style="width:15%">Comments</td>
      <td style="width:10%">Edit</td>
    </tr>
    <tr ng-repeat="project in projects" ng-click="loadProject(project)">
      <td class="v-middle">
        <!-- editable username (text with validation) -->
        <span editable-text="project.name" e-name="name" e-form="rowform" >
          {{ project.name  }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable username (text with validation) -->
        <span editable-text="project.type" e-name="type" e-form="rowform" >
          {{ project.type  }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable status (select-local) -->
        <span editable-text="project.domain" e-name="domain" e-form="rowform">
           {{ project.domain  }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable group (select-remote) -->
        <span editable-text="project.comments" e-name="comments"  e-form="rowform" >
           {{ project.comments  }}
        </span>
      </td>
      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform"  ng-show="rowform.$visible" class="form-buttons form-inline" >
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-info">
            save
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm btn-default">
            cancel
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-sm btn-info" ng-click="rowform.$show()">edit</button>
          <button class="btn btn-sm btn-danger" ng-click="deleteProject(project.id)">del</button>
        </div>
      </td>
    </tr>
  </table>

  <button class="btn btn-default m-b-lg" ng-click="addProject()">Add project</button>

</div>
<div class="wrapper-md">
  <h4>Views in {{project.name}}</h4>
  <table class="table table-bordered table-hover table-condensed bg-white-only">
    <tr style="font-weight: bold">
      <td style="width:20%">Name</td>
      <td style="width:20%">Label</td>
      <td style="width:15%">Room</td>
      <td style="width:10%">Floor</td>
      <td style="width:10%">Zone</td>
      <td style="width:15%">Ui group</td>
      <td style="width:10%">Edit</td>
    </tr>
    <tr ng-repeat="view in views" ng-click="loadView(view)">
      <td class="v-middle">
        <!-- editable username (text with validation) -->
        <span editable-text="view.name" e-name="name" e-form="rowform" >
          {{ view.name  }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable status (select-local) -->
        <span editable-text="view.label" e-name="label" e-form="rowform">
           {{ view.label  }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable group (select-remote) -->
        <span editable-text="view.room" e-name="room"  e-form="rowform" >
           {{ view.room  }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable group (select-remote) -->
        <span editable-number="view.floor" e-name="floor"  e-form="rowform" >
           {{ view.floor }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable group (select-remote) -->
        <span editable-text="view.zone_name" e-name="zone_name"  e-form="rowform" >
           {{ view.zone_name  }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable group (select-remote) -->
        <span editable-text="view.ui_group" e-name="ui_group"  e-form="rowform" >
           {{ view.ui_group  }}
        </span>
      </td>
      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform"  ng-show="rowform.$visible" class="form-buttons form-inline" >
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-info">
            save
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm btn-default">
            cancel
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-sm btn-info" ng-click="rowform.$show()">edit</button>
          <button class="btn btn-sm btn-danger" ng-click="removeView($index)">del</button>
        </div>  
      </td>
    </tr>
  </table>

  <button class="btn btn-default m-b-lg" ng-click="addView()">Add view</button>

</div>

<div class="wrapper-md">
  <h4>Things in {{view.name}}</h4>
  <table class="table table-bordered table-hover table-condensed bg-white-only">
    <tr style="font-weight: bold">
      <td style="width:10%">Name</td>
      <td style="width:10%">Type</td>
      <td style="width:10%">Ui element</td>
      <td style="width:25%">Control topic</td>
      <td style="width:25%">Display topic</td>
      <td style="width:5%">Min val</td>
      <td style="width:5%">Max val</td>
      <td style="width:10%">Edit</td>
    </tr>
    <tr ng-repeat="thing in things">
      <td class="v-middle">
        <!-- editable username (text with validation) -->
        <span editable-text="thing.name" e-name="name" e-form="rowform"  e-required>
          {{ thing.name || 'empty' }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable username (text with validation) -->
        <span editable-text="thing.type" e-name="type" e-form="rowform"  e-required>
          {{ thing.type }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable username (text with validation) -->
        <span editable-text="thing.ui_element" e-name="ui_element" e-form="rowform"  e-required>
          {{ thing.ui_element }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable username (text with validation) -->
        <span editable-text="thing.control_topic" e-name="control_topic" e-form="rowform"  e-required>
          {{ thing.control_topic }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable username (text with validation) -->
        <span editable-text="thing.display_topic" e-name="display_topic" e-form="rowform"  e-required>
          {{ thing.display_topic }}
        </span>
      </td>
       <td class="v-middle">
        <!-- editable username (text with validation) -->
        <span editable-number="thing.min_value" e-name="min_value" e-form="rowform"  e-required>
          {{ thing.min_value }}
        </span>
      </td>
       <td class="v-middle">
        <!-- editable username (text with validation) -->
        <span editable-number="thing.max_value" e-name="max_value" e-form="rowform"  e-required>
          {{ thing.max_value }}
        </span>
      </td>

      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform"  ng-show="rowform.$visible" class="form-buttons form-inline" >
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-info">
            save
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm btn-default">
            cancel
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-sm btn-info" ng-click="rowform.$show()">edit</button>
          <button class="btn btn-sm btn-danger" ng-click="removeThing($index)">del</button>
        </div>
      </td>
    </tr>
  </table>

  <button class="btn btn-default m-b-lg" ng-click="addThing()">Add thing </button>



</div>
<button class="btn btn-default m-b-lg" ng-click="saveProject()">Save project</button>
