{{ template "header.html" .}}
<header class="bar bar-nav">
  <div class="segmented-control">
    <a class="control-item active">One</a>
    <a class="control-item">Two</a>
    <a class="control-item">Three</a>
  </div>
</header>
    <div class="content">
        <ul class="table-view">
          <li class="table-view-cell">
            <a class="navigate-right">
              Living room
            </a>
          </li>
          <li class="table-view-cell">
            <a class="navigate-right">
              Hallway
            </a>
          </li>
          <li class="table-view-cell">
            <a class="navigate-right">
              Kitchen
            </a>
          </li>
        </ul>
    </div>
{{ template "footer.html" .}}