 {{ template "header.html" .}}
    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <header class="bar bar-nav">
      <h1 class="title">GreenHome</h1>
      <a class="icon icon-gear pull-right" href="security"></a>
    </header>
     <div class="content">
        <ul class="table-view">
          {{ range .project.Views }}
            {{ if eq .UiGroup "home"}}
                {{ range .Things}}
                <li class="table-view-cell">
                     {{ template "ui_element.html" .}}
                </li>
                {{ end}}
            {{ end}}
          {{end}}
        </ul>
     </div>
<div id="myModalexample" class="modal">
    <div class="content">
    <p class="content-padded">The contents of my modal go here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
  <a class="icon icon-close pull-right btn" href="#myModalexample"></a>
    </div>
</div>
 {{ template "footer.html" .}}