 {{ template "header.html" .}}
    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <header class="bar bar-nav">
      <h1 class="title">GreenHome</h1>
      <a class="icon icon-gear pull-right" href="security"></a>
    </header>
     <div class="content">
        <ul class="table-view">
          {{ range .Views }}
            {{ if eq .Name "Home"}}
                {{ range .Things}}
                <li class="table-view-cell">
                     {{ template "ui_element.html" .}}
                </li>
                {{ end}}
            {{ end}}
          {{end}}
        </ul>
    </div>
 {{ template "footer.html" .}}